@model IEnumerable<AspNet_MVC_App.Models.Car>;

<div>
    <h2 class="text-center">Car List</h2>

    <div class="mb-2 text-right">
        <a asp-controller="Car" asp-action="Create" class="btn btn-primary">Create New Car</a>
    </div>

    @if (Model.Any())
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">Manufactured</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Car car in Model)
                {
                    <tr>
                        <td>@car.Model</td>
                        <td>@car.Color</td>
                        <td>@car.ManufactureDate</td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-secondary">Edit</a>

                                <a asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>List is empty!</p>
    }
</div>